/*
   From here you can add your body style.
   -----
*/


/* - Variables - */
:root {}

/* - Root - */
html {
    font-size: 100%;
    box-sizing: border-box;
}

/* - Body - */
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

