<!-- =========================
	Section - Main
============================== -->

@@if (context.page === "home") {
<main>
	<ul>
		<li>LightSlider</li>
		<li>Rem Mixins</li>
		<li>Font Awesome 5 PRO</li>
		<li>Other</li>
	</ul>
</main>
}